body {
    background-color: #d2cde4dc;
    font-family: 'Open Sans', sans-serif;
}
.card-header {
    padding: 0;
    margin: 0;
}
.card-border{
    border-radius: 30px;
}
.previous-relapse{
    color: #e4e3e3;
}
.list-website{
    background: linear-gradient(black, blue);
    a{
        color: pink;
        text-decoration: none;
        transition: .5s;
    }
    a:hover{
        background: white;
        color: black;
    }
}